/* all common css start */
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    --primary-color: #383838;
    --secondary-color: #878CFF;
    --white-color: #fff;
    --dark-color: #000;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.cmnBtn{
    display: inline-block;
    text-transform: capitalize;
    padding: .9rem 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5;
    color: #FFFFFF;
    background: var(--secondary-color);
    border-radius: 6px;
}
.cmnBtn:hover{
    background: var(--dark-color);
}
/* all common css end */

/* header part */
header{
    
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    text-align: center;
    color: #21243D;
    text-transform: capitalize;
}
nav{
    padding:3rem 0;
}
nav ul{
    display: flex;
    gap:20px;
}
li a{
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    color: #000000;
}
.navBtn{
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: #000;
    border-radius: 6px;
}
/* hero section-- */
.hero{
    padding: 12rem 0 12.25rem 0;
}
.hero-wrapper{
    text-align: center;
}
.img{
    padding-bottom: 3.2rem;
}
.hero-heading{
    text-align: center;
}
.hero-heading h1{
    font-style: normal;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-color);
}
.hero-heading h1 span{
    color:var(--secondary-color);
}
.hero-heading p{
    margin: auto;
    max-width: 520px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.5;
    color: #777777;
    padding: 4rem 0;
}
/* about section-- */
.about{
    background-color: #FCFCFC;
}
.about-wrapper{
    display: flex;
    align-items: center;
}
.about-wrapper > *{
    flex-basis: 100%;
}
.about-text h1{
    font-style: normal;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.5;
    color: var(--primary-color);
}
.about-text h1 span{
    color:var(--secondary-color);
}
.about-text p{
    padding: 2.7rem 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.59;
    text-align: justify;
    color: #535353;
}
/* service section-- */
.service{
    padding:8.8rem 0 14rem 0;
}
.service h1{
    font-style: normal;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.5;
    color: var(--dark-color);
    padding-bottom: 5.2rem;
    text-align: center;
}
.service h1 span{
    color: var(--secondary-color);
}
.service .service-wrapper{
    display: flex;
    justify-content: space-between;
    gap:2.3rem;
}
.service .service-wrapper > *{
    flex-basis: 100%;
}
.service .service-wrapper .service-item .serviceTxt{
    padding: 2rem 0;
}
.service .service-wrapper .service-item .serviceTxt p{
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5;
    color: #21243D;
    padding-top: .9rem;
}
.service .service-wrapper .service-item img{
    width: 100% !important;
}
.learnBtn{
    font-style: normal;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-decoration-line: underline;
    color: #878CFF;
}
/* insights-- */
.insights{
padding-bottom: 1.04rem;
}
.insights .insights-heading h1{
    font-style: normal;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.5;
    color: var(--secondary-color);
    padding-bottom: 4.7rem;
    display: inline-block;
}
.insight-sibling-wrapper{
    display: flex;
    gap:2.6rem;
}
.insight-sibling-wrapper > *{
    flex-basis: 100%;
}
.insight-item{
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    padding: 3.7rem 3rem 4.7rem;
}
.insight-item h4{
    text-transform: capitalize;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #777777;
    padding-bottom: 1.2rem;
}
.insight-item h3{
    max-width: 70%;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.3;
    color: #21243D;
}
.insight-item p{
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: justify;
    color: #6F6F6F;
    padding: 27px 0 24px 0;
}
/* footer-- */
footer{
    padding: 5rem 0 5.4rem 0;
    background: #1E1E1E;
}
.footer-wrapper{
    text-align: center;
}
.footer-wrapper .footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.23rem;

}
.footer-wrapper .footer-icon i{
    font-size: 2rem;
    color:var(--white-color);
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border: 1px solid var(--white-color);
}
.footer-wrapper h6{
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    padding-top: 2rem;
}
/* ========Responsive================================ */
@media (max-width:1320px) {
    html{
        font-size: 62.5%;
    }
}
@media (max-width:1200px) {
    html{
        font-size: 56%;
    }
    .container{
        padding:0 20px;
    }
}
@media (max-width:992px) {
    html{
        font-size: 50%;
    }
}
@media (max-width:768px) {
    html{
        font-size: 45%;
    }
}
@media (max-width:576px) {
    html{
        font-size: 40%;
    }
    /* header------- */
    header{
    margin-top: 20px;
    }
    .header-wrapper{
        flex-direction: column;
    }
    /* about---------- */
    .about-wrapper{
        flex-direction: column;
    }
    /* service--------- */
    .service .service-wrapper{
        flex-direction: column;
    }
    /* inssights------- */
    .insight-sibling-wrapper{
        flex-direction: column;
    }

}
@media (max-width:400px) {
    html{
        font-size: 31.5%;
    }
    /* header------- */
    header{
    margin-top: 20px;
    }
    .header-wrapper{
        flex-direction: column;
    }
    /* about---------- */
    .about-wrapper{
        flex-direction: column;
    }
    /* service--------- */
    .service .service-wrapper{
        flex-direction: column;
    }
    /* inssights------- */
    .insight-sibling-wrapper{
        flex-direction: column;
    }
}